
    <mat-card >
      <mat-form-field appearance="outline">
        <input   type="text" placeholder="Digite o usuário" matInput
                 [(ngModel)]="loginModel.nome_usuario" id="usuario" for="usuario"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input  type="password" placeholder="Digite a senha" matInput
                [(ngModel)]="loginModel.senha" id="senha" for="senha"/>
      </mat-form-field>
      <button mat-raised-button color="primary" class="notranslate" (click)="logar()">
        <mat-icon>input</mat-icon>
        {{'Login'}}
      </button>
      <!--  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>   -->
      </mat-card>


