
  <!-- <div *ngIf="etapa === 1"> -->
    <form>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <input type="text"
                   placeholder="Digite aqui o município que deseja consultar"
                   matInput
                   [formControl]="estampadorControl"
                   [matAutocomplete]="auto"
                   (keyup)="changeMunicipio(estampadorControl.value)">
            <mat-error>Campo(s) Obrigatório(s) não preenchido(s).</mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option [value]="municipio" *ngFor="let municipio of municipiosFiltered">{{municipio}}</mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <button mat-raised-button color="primary" class="notranslate" (click)="pesquisar(estampadorControl.value, $event)">
            <mat-icon>search</mat-icon>
            {{ 'confirmar' }}
          </button>
        </div>
      </div>
    </form>

  <mat-toolbar color="primary" >
    <span> Tabela de Estampadores </span>
  </mat-toolbar>
 <!-- <div *ngIf="etapa === 2"> -->
    <table mat-table [dataSource]="estampadorDataSourceTable" class="mat-elevation-z8" >

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef >Credenciado</th>
        <td mat-cell *matCellDef="let element">{{element.nomeCredenciado}}</td>
      </ng-container>
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef >Telefone</th>
        <td mat-cell *matCellDef="let element">{{element.telefoneDaEstampadora}}</td>
      </ng-container>
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef >Endereço</th>
        <td mat-cell *matCellDef="let element">{{element.enderecoCompleto}}</td>
      </ng-container>
      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef >Cidade</th>
        <td mat-cell *matCellDef="let element">{{element.cidadeEstampadora}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef=" let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3"></td>
      </tr>
    </table>
 <!-- </div> -->

  <br/>

  <div class="row">
    <div class="col-12 text-right">
      <button type="button" mat-raised-button color="primary" (click)="voltar()">
        <mat-icon>autorenew</mat-icon>
        {{'voltar'}}
      </button>
    </div>
  </div>

<!-- </div> -->
