@import './styles-conteudo-consulta.scss';
@import '../../../styles-variables';

.flex-conteudo-section-group {
  display: flex;
  flex-direction: column;
  background-color: $color-white-padrao;
  overflow: hidden;
}

.flex-conteudo-section-header {
  display: flex;
  min-height: 200px;
  flex-grow: 1;

  background-color: $color-blue-padrao;
}

.flex-conteudo-section-group .flex-conteudo-section-header psw-header {
  position: fixed;
  top: 0px;
  height: 200px;
  display: block;
  width: 100%;
  z-index: 1000;
  min-width: 50px;
  background-color: $color-blue-padrao;
}

.flex-conteudo-section-group-logado .flex-conteudo-section-header psw-header {
  position: fixed;
  top: 0px;
  height: 240px;
  display: block;
  width: 100%;
  z-index: 1000;
  min-width: 50px;
  background-color: $color-blue-padrao;
}

.flex-conteudo-section-body {
  display: flex;
  justify-content: space-between;
  flex-grow: 4;
  padding: 5px;
}

@media screen and (min-width: 1000px) and (max-width: 1550px) {
  .flex-conteudo-section-body {
    display: block;
    flex-grow: 4;
    padding: 5px;
  }
}

.flex-conteudo-section-left {
  display: flex;
  flex-grow: 0.5;
  min-width: 5%;

  @media (max-width: 576px) {
    display: none;
  }
}

.flex-conteudo-section-article {
  flex-grow: 10;
  margin: auto;
  padding: 5px 5px 25px 5px;
  width: 100%;
}

.flex-conteudo-section-bar-right {
  display: flex;
  flex-grow: 1.2;
  min-width: 5%;

  @media (max-width: 576px) {
    display: none;
  }
}

@media screen and (max-width: map_get($grid-breakpoints, lg)) {
  .flex-conteudo-section-article {
    flex-grow: 10;
    margin: auto;
    padding: 5px;
    width: 100%;
  }
}

.flex-conteudo-footer {
  z-index: 1001;
  flex-grow: 0.2;
  background-color: $color-blue-padrao;
  padding: 0px;
  text-align: center;
  color: $color-white-padrao;
  font-size: small;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.flex-sub-container-menu {
  border-bottom: 0px solid #ffffff99;
}

@media screen and (max-width: 800px) {
  .responsive_table {
    overflow: auto !important;
  }

  .mat-table {
    min-width: 800px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
  .flex-conteudo-section-article {
    flex-grow: 10;
    margin: auto;
    padding: 5px 5px 12% 5px;
    width: 90%;
  }
}

.heightUsuarioLogado {
  min-height: 240px !important;

  @media screen and (max-width: map-get($grid-breakpoints, dtrmd)) {
    min-height: 260px !important;
  }
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    min-height: 290px !important;
  }
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    min-height: 230px !important;
  }
}
