<div class="flex-conteudo-section-group">
    <div class="flex-conteudo-section-header" [ngClass]="{'heightUsuarioLogado' : cpfUsuarioLogado}">
      <psw-header [displayInPaginaInicial]="false" [menus]="menus"></psw-header>
    </div>

    <div class="flex-conteudo-section-body">
      <div class="flex-conteudo-section-left"></div>
      <div class="flex-conteudo-section-article">
        <div *blockUI="'blockUiContainer'" class="mat-typography">
          <router-outlet></router-outlet>
        </div>

      </div>
      <div class="flex-conteudo-section-bar-right"></div>
    </div>

    <footer class="flex-conteudo-footer display-hidden-mobile">
      &copy; 2018 - 2020 Departamento Estadual de Trânsito de Goiás. Todos os direitos reservados.
    </footer>
</div>
