<body class="mat-body">
<nav class="toolbar" role="banner">

  <li routerLinkActive="active"><a  mat-button=""  routerLink="" >
    <span class="mat-button-wrapper ">Home</span></a> </li>

  <a  mat-button=""  routerLink="/page_usuarios" >
    <span class="mat-button-wrapper ">Usuarios</span></a>

  <a mat-button="" routerLink="/clientes">
    <span class="mat-background-warn">Clientes</span>
  </a>

  <!--
  <a  mat-button=""  [routerLink]="['user-demo',idUsuario.value]" >
    <span class="mat-button-wrapper ">Id do Usuario</span></a>
-->
  <a  mat-button=""  routerLink="/produtos" >
    <span class="mat-button-wrapper ">Produtos</span></a>

  <a  mat-button=""  routerLink="/vendas" >
    <span class="mat-button-wrapper ">Vendas</span></a>

 <a  mat-button=""  routerLink="/busca" >
    <span class="mat-button-wrapper ">Buscas</span></a>

  <a  mat-button=""  routerLink="/estampadores" >
    <span class="mat-button-wrapper ">Estampas</span></a>

   <a class="card" target="_blank" rel="noopener" mat-button="" href="http://scherlandro.blogspot.com/" >
    <span class="mat-button-wrapper ">MEU BLOGSPOT</span></a>

  <ul ></ul>

  <a  mat-button="" class="mat-focus-indicator docs-navbar-link mat-button "
      tabindex="10" aria-disabled="false" routerLink="/login" >
    <span class="mat-button-wrapper">Login</span><span matripple="" class="mat-ripple mat-button-ripple">
</span><span class="mat-button-focus-overlay"></span></a>

</nav>


<div class="content" role="main">

  <span>{{ title }} app is running!</span>


</div>
<!--
<div class="card-container">
<label>Codigo do usuario</label>
<input class="mat-input-element" #idUsuario>
</div>
-->



<form class="mat-form-field-autofill-control">

  <mat-card class="mat-card-custom">
    <router-outlet ></router-outlet>
  </mat-card>

</form>





  <!-- Footer -->
  <footer  class="mat-form-field-autofill-control"  >


    <div class="card-container">

      <a class="card" target="_blank" rel="noopener" href="https://material.angular.io/components">
        <span>ComponentMaterial</span>
      </a>

      <a class="card" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=jYrgTS2XhBA&list=PL8iIphQOyG-DSLV6qWs8wh37o0R_F9Q_Q&index=6">
        <span>Criar Component</span>
      </a>


      <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
        <span>Angular DevTools</span>
     </a>

      <a class="card" target="_blank" rel="noopener" href="https://youtu.be/bOoddUeklZY">
        <span>Login Menu oculto </span>
      </a>
      <a class="card" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=6QXBTeVf0VY">
        <span>CONSUMIR API </span>
      </a>
      <a class="card" target="_blank" rel="noopener" href=" https://youtu.be/xTkIV8YNgXw">
        <span> Parâmetro roteado</span>
      </a>

      <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/algaworks/videos/172731017841241/">
        <span>Exemplo Rest-API</span>
      </a>

	   <a class="card" target="_blank" rel="noopener" href="https://stackoverflow.com/questions/52035460/accessing-input-fields-inside-angular-material-table/52039380">
        <span>Ex tela agendar</span>
      </a>

    </div>



  </footer>


</body>



