
<h1 *ngIf="!isChange" mat-dialog-title>Adicionar Cliente</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cliente</h1>

<div mat-dialog-content>

    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="data.id_cliente">
    </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome_cliente">
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pessoa</mat-label>
      <input matInput [(ngModel)]="data.pessoa">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input matInput [(ngModel)]="data.estado">
    </mat-form-field>

<span>

  <button mat-raised-button *ngIf="!isChange"  [mat-dialog-close]="data" cdkFocusInitial >Create</button>
  <button mat-button *ngIf="isChange"  [mat-dialog-close]="data" cdkFocusInitial >Edit</button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
 </span>
  <!--
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button (click)="onCancel()">Atualizar</button>
    <button mat-raised-button [mat-dialog-close]="data"  >Create</button>
  -->

</div>
